<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "O projekcie" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <p>
            System Informacyjny Mobilności Publicznej to projekt oparty na frameworkach .NET ASP.NET Boilerplate z panelem administracyjnym w Angularze oraz całym frontendem użytkownika końcowego we VUE.
          </p>
          <h3>Cel systemu</h3>
          <p>
            Głównym celem systemu informacyjnego komunikacji miejskiej jest zapewnienie jednolitości i centralizacji rozkładów jazdy, aby wszystkie informacje były dostępne w jednym miejscu. System ten ma być uzupełniany przez odpowiednie urzędy podczas rejestracji trasy przewozowej przez przewoźnika publicznego lub prywatnego. Dzięki temu rozwiązaniu użytkownicy będą mogli korzystać z jednego, centralnego systemu do przeglądania wszystkich dostępnych rozkładów jazdy.
          </p>
          <p>
            Aktualnie, informacje o rozkładach jazdy różnych przewoźników są często rozproszone, trudne do znalezienia lub zaktualizowania. Przewoźnicy publiczni i prywatni mają swoje własne systemy, co powoduje brak spójności i utrudnia pasażerom dostęp do aktualnych informacji. System informacyjny komunikacji miejskiej rozwiązuje ten problem, zapewniając:
          </p>
          <ul>
            <li><strong>Centralizację danych:</strong> Wszystkie rozkłady jazdy są dostępne w jednym miejscu, co ułatwia zarządzanie i aktualizację informacji.</li>
            <li><strong>Jednolitość informacji:</strong> Użytkownicy mają dostęp do spójnych i aktualnych rozkładów jazdy, bez względu na przewoźnika.</li>
            <li><strong>Łatwość użycia:</strong> Intuicyjny interfejs użytkownika umożliwia szybkie i łatwe przeglądanie oraz wyszukiwanie rozkładów jazdy.</li>
            <li><strong>Efektywność zarządzania:</strong> Urzędy mają narzędzie do skutecznego zarządzania informacjami o trasach przewozowych, co pozwala na szybkie reagowanie na zmiany i aktualizacje.</li>
            <li><strong>Transparentność:</strong> Pasażerowie mają pewność, że informacje, z których korzystają, są aktualne i wiarygodne.</li>
          </ul>
          <p>
            System ten jest również elastyczny i skalowalny, co pozwala na jego rozszerzanie i dostosowywanie do potrzeb różnych miast i regionów. Dzięki zastosowaniu nowoczesnych technologii, takich jak .NET ASP.NET Boilerplate, Angular i VUE, system jest wydajny, bezpieczny i łatwy w utrzymaniu.
          </p>
          <h3>Co to jest ASP.NET Boilerplate?</h3>
          <p>
            ASP.NET Boilerplate to framework aplikacyjny oparty na najnowszym frameworku <strong>ASP.NET Core</strong>. Ułatwia korzystanie z funkcji takich jak autoryzacja, wstrzykiwanie zależności, walidacja, obsługa wyjątków, lokalizacja, logowanie, cache, zadania w tle i wiele innych. Jest zbudowany na znanych narzędziach, takich jak Entity Framework, AutoMapper, Castle Windsor...
          </p>
          <p>
            ASP.NET Boilerplate implementuje <strong>architekturę NLayer</strong> (warstwy Domain, Application, Infrastructure i Presentation) oraz <strong>Domain Driven Design</strong> (encje, repozytoria, usługi domenowe/aplikacyjne, DTO...). Ponadto zapewnia dobrą infrastrukturę do implementacji <strong>najlepszych praktyk</strong> w zakresie rozwoju oprogramowania.
          </p>
          <h3>Dokumentacja</h3>
          <ul>
            <li>
              <a href="https://www.aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Core" target="_blank">Dokumentacja tego szablonu</a>
            </li>
            <li>
              <a href="http://www.aspnetboilerplate.com/Pages/Documents" target="_blank">Dokumentacja ASP.NET Boilerplate</a>
            </li>
          </ul>
          <h3>Kod źródłowy</h3>
          <p>
            Ten szablon jest rozwijany jako open source na Githubie. Możesz przyczynić się do jego rozwoju.
            <a href="https://github.com/aspnetboilerplate/module-zero-core-template" target="_blank">https://github.com/aspnetboilerplate/module-zero-core-template</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
