<div class="modal-header">
    <h4 class="modal-title">{{ "Create Timetable" | localize }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <form #createForm="ngForm" (ngSubmit)="save()">
      <div class="form-group">
        <label for="timetableTime">{{ "Time" | localize }}</label>
        <input type="time" class="form-control" id="timetableTime" required [(ngModel)]="timetable.time" name="time" />
      </div>
  
      <div class="form-group">
        <label for="dayType">{{ "Day Type" | localize }}</label>
        <select class="form-control" id="dayType" required [(ngModel)]="timetable.day_type" name="day_type">
          <option value="weekday">{{ "Weekday" | localize }}</option>
          <option value="saturday">{{ "Saturday" | localize }}</option>
          <option value="sunday_holiday">{{ "Sunday/Holiday" | localize }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="stop">{{ "Stop" | localize }}</label>
        <select class="form-control" id="stop" required [(ngModel)]="timetable.stop" name="stop">
          <option *ngFor="let stop of stops" [value]="stop.id">{{ stop.name }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="saving">
          <i *ngIf="saving" class="fa fa-spinner fa-spin"></i>
          {{ "Save" | localize }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">
          {{ "Cancel" | localize }}
        </button>
      </div>
    </form>
  </div>
  